<%= link_to [@micropost, @micropost.dislikes.find_by(user_id: current_user.id)], method: :delete, class: "btn dislike btn-danger" do %>
  <span class="glyphicon glyphicon-thumbs-down"><%= @micropost.dislikes.count %></span>  Dislike
<% end %>