<%= link_to [@micropost, @micropost.likes.find_by(user_id: current_user.id)], method: :delete, class: "btn button_like btn-danger" do %>
    <span class="glyphicon glyphicon-thumbs-up"><%= @micropost.likes.count %></span> Like
<% end %>